  <li class="list-group-item mb-1 container">
    <div class="col">
      <%= content_tag :h3, recipe.name %>
      <%= content_tag :p, "By: #{recipe.user.name}" %>
    </div>
    <div class="col">
      <%= content_tag :p, "Total food items: #{recipe.foods.count}" %>
      <%= content_tag :p, "Total Price: #{recipe.recipe_foods.includes(:food).map{|f| f.quantity * f.food.price}.sum}"%>
    </div>  
  </li>