<h1>Editing food</h1>

<%= render "form", food: @food %>

<br>

<div class="mt-3">
  <%= link_to "Show this food", @food, class: 'btn btn-secondary mr-2' %>
  <%= link_to "Back to foods", foods_path, class: 'btn btn-secondary' %>
</div>
