<!-- app/views/shopping_lists/index.html.erb -->
<h1>Shopping List</h1>

<ul>
  <% @missing_foods.each do |food| %>
    <li><%= food.name %> - <%= food.price %></li>
  <% end %>
</ul>

<p>Total Food Items: <%= @missing_foods.count %></p>
<p>Total Price: <%= @total_price %></p>
